<<<<<<< HEAD
*{
box-sizing: border-box
}

body{
background-image: url("bg.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: Papyrus;
margin: 0;
padding: 0;
}
.header{
display:flex;
justify-content: center;
font-size: 25px;
}
.container{
height:100vh;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}
.question{
/*height: 100%;*/
width:100%
display: flex;
align-items: center;
justify-content: center;

}
.questionp{
height: 100%;
width:100%
display: flex;
align-items: center;
justify-content: center;
font-weight:bold;
font-size: 30px;
}
.choice{
height: 100%;
width:100%
display: flex;
align-items: center;
justify-content: center;
}
=======
*{
box-sizing: border-box
}

body{
background-image: url("bg.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: Papyrus;
margin: 0;
padding: 0;
}
.header{
display:flex;
justify-content: center;
font-size: 25px;
}
.container{
height:100vh;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}
.question{
/*height: 100%;*/
width:100%
display: flex;
align-items: center;
justify-content: center;

}
.questionp{
height: 100%;
width:100%
display: flex;
align-items: center;
justify-content: center;
font-weight:bold;
font-size: 30px;
}
.choice{
height: 100%;
width:100%
display: flex;
align-items: center;
justify-content: center;
}
>>>>>>> origin/CSS
